.pagination {
    display: flex;
    justify-content: center;
    
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  /* .page-link {
    padding: 5px 10px;
    cursor: pointer;
  } */
  
  /* .page-item.active .page-link {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  } */
  